@charset "utf-8";

/*--------------------------------------
  Reset
--------------------------------------*/

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

a {
	text-decoration: none;
	word-break: break-all;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
	vertical-align: top;
	border: 0;
	max-width: 100%;
	max-height: 100%;
}

input[type="submit"] {
	font-size: 100%;
}

.clear {
	clear: both;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1;
	margin: 0;
	padding: 0;
}

blockquote, q {
	quotes: none;
	margin: 0;
}

blockquote * {
	margin: 0;
	word-break: break-all;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}

textarea {
	width: 100%;
}

input {
	max-width: 100%;
  border: none;
  background-color: transparent;
}

input[type="submit"]{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.invisible {
	display: none;
}

html {
	font-family : "Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3",
	"Hiragino Kaku Gothic Pro",Meiryo,"メイリオ","ＭＳ Ｐゴシック",Arial,sans-serif;
	font-size: 100%;
	line-height: 1;
	color: #333;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	word-wrap:break-word;
	background-image: url('../images/background.jpg');
  background-size: cover;
}

body main {
	min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

body main article {
  width: 748px;
  /*! height: 748px; */
  padding: 36px 0;
  box-sizing: border-box;
  /*! margin: auto; */
}

body main article h1{
  display: block;
  color: #fff;
  font-weight: 300;
  font-size: 36px;
  width: 480px;
  margin: auto;
}

body main article h2.sub_title {
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #fff;
  margin-top: -36px;
}

body main article h2 {
  color: #fff;
  font-size: 21px;
  text-align: center;
  margin: 8px auto 8px;
  font-weight: 300;
}


body main article span.or_create {
	color: #fff;
  text-align: center;
  display: block;
  margin: 4px auto 16px;
}

body main article span.or_create a {
	color: #189EFC;
}

body main article .description_wrap {
  width: 464px;
  padding: 26px;
  box-sizing: border-box;
  color: #ddd;
  margin: auto;
  padding-top: 0;
}

body main article .description {
  margin-bottom: 8px;
  font-weight: 300;
  line-height: 1.4;
}

body main article .session_aleart:not(.invisible) {
	display: inline-block;
	color: red;
	font-size: 12px;
}

body main article .box {
	display: block;
	width: 428px;
	margin: 0 auto 16px;
	padding: 16px;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}

body main article .box.help_us {
	line-height: 1.5;
	font-weight: 300;
}

body main article .box a {
	color: #189EFC;
}

body main article input.login_form_input {
  display: block;
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  color: #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 8px;
  transition: 0.5s;
}

body main article input.login_form_input.error {
  border-bottom: 1px solid red;
}

body main article .login_form_agree {
	color: #fff;
	text-align: center;
	margin: 29px 0;
}

body main article .login_form_agree a {
	color: #189EFC;
}

body main article .login_form_agree input {
	margin-right: 16px;
}

body main article input[type="submit"] {
  background-color: #189EFC;
  padding: 8px 36px;
  display: block;
  margin: 16px auto 0;
  color: #fff;
}

body main article input.login_form_input:focus {
	outline: 0;
  border-bottom: 1px solid #189EFC;
  transition: 0.5s;
}

body main article nav ul{
	display: flex;
	align-items: center;
}

body main article nav ul li {
	text-align: center;
	flex-grow: 1;
}

body main article nav ul li a {
	color: #189EFC;
	font-size: 24px;
}


footer {
	position: fixed;
	font-weight: 300;
	bottom: 0;
	right: 0;
	background-color: #000;
	padding: 4px 16px;
	color: #fff;
}

footer a {
	color: #189EFC;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7vr5p0');
  src:  url('../fonts/icomoon.eot?7vr5p0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7vr5p0') format('truetype'),
    url('../fonts/icomoon.woff?7vr5p0') format('woff'),
    url('../fonts/icomoon.svg?7vr5p0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Mastodon_logo:before {
  content: "\e900";
}